In [24]:
# https://docs.python.org/2/library/sqlite3.html helped me a lot as well as 
# youtube tutorials on sqlite3 in python, the first three parts: https://www.youtube.com/watch?v=o-vsdfCBpsU
import sqlite3
import json
from datetime import datetime

sql_transaction = []

# connection objects represents the database
conn = sqlite3.connect('2015-01.db')
c = conn.cursor()

# helper function to create a table
def create_table():
   # c.execute("DROP TABLE IF EXISTS parent_reply") # if we want to start with a whole new table
    c.execute("CREATE TABLE IF NOT EXISTS parent_reply(parent_id TEXT PRIMARY KEY, comment_id TEXT UNIQUE, parent TEXT, comment TEXT, subreddit TEXT, unix INT, score INT)")

# we want one comment to be on one line
def format_data(data):
    data = data.replace('\n',' newlinechar ').replace('\r',' returnchar ').replace('"',"'")
    return data

# here we execute most of our transactions, once we buffered enough of them
def transaction_bldr(sql):
    # we add the global keyword because we want to modify the variable on global scale
    global sql_transaction
    sql_transaction.append(sql)
    # we don't want to be making queries into the database all the time, it is ineffective, so we wait for 1k transactions first
    if len(sql_transaction) > 1000:
        c.execute('BEGIN TRANSACTION')
        for s in sql_transaction:
            try:
                c.execute(s)
            except:
                pass
        conn.commit()
        sql_transaction = []

        
# next functions are just helper functions to perform basic sql operations, updates and inserts        

def sql_insert_replace_comment(commentid, parentid, parent, comment, subreddit, time, score):
    try:
        sql = """UPDATE parent_reply SET parent_id = ?, comment_id = ?, parent = ?, comment = ?, subreddit = ?, 
        unix = ?, score = ? WHERE parent_id =?;""".format(parentid, commentid, parent, comment, subreddit, int(time), score, parentid)
        transaction_bldr(sql)
    except Exception as e:
        print('s0 insertion',str(e))

def sql_insert_has_parent(commentid,parentid,parent,comment,subreddit,time,score):
    try:
        sql = """INSERT INTO parent_reply (parent_id, comment_id, parent, comment, subreddit, unix, score) 
        VALUES ("{}","{}","{}","{}","{}",{},{});""".format(parentid, commentid, parent, comment, subreddit, int(time), score)
        transaction_bldr(sql)
    except Exception as e:
        print('s0 insertion',str(e))

def sql_insert_no_parent(commentid,parentid,comment,subreddit,time,score):
    try:
        sql = """INSERT INTO parent_reply (parent_id, comment_id, comment, subreddit, unix, score) 
        VALUES ("{}","{}","{}","{}",{},{});""".format(parentid, commentid, comment, subreddit, int(time), score)
        transaction_bldr(sql)
    except Exception as e:
        print('s0 insertion',str(e))


# we define when is comment acceptable. 
def acceptable(data):
    # we dont want comments to be more than 50 words long...(for training purposes)
    if len(data.split(' ')) > 50 or len(data) < 1:
        return False
    # ... or 1k characters
    elif len(data) > 1000:
        return False
    # or if they were deleted or removed by admin
    elif data == '[deleted]': or data == '[removed]'
        return False
    else:
        return True

def find_parent(pid):
    try:
        sql = "SELECT comment FROM parent_reply WHERE comment_id = '{}' LIMIT 1".format(pid)
        c.execute(sql)
        result = c.fetchone()
        if result != None:
            return result[0]
        else: return False
    except Exception as e:
        #print(str(e))
        return False

def find_existing_score(pid):
    try:
        sql = "SELECT score FROM parent_reply WHERE parent_id = '{}' LIMIT 1".format(pid)
        c.execute(sql)
        result = c.fetchone()
        if result != None:
            return result[0]
        else: return False
    except Exception as e:
        #print(str(e))
        return False
    
if __name__ == '__main__':
    create_table()
    row_counter = 0
    paired_rows = 0

    # since I have whole month of reddit comments, the data has almost 32GB of size, so I process them 1k at a time
    with open('/media/doriot/Elements/RC_2015-01', buffering=1000) as f:
        for row in f:
            row_counter += 1
            # there is many more attributes, but for now I decided to pick the following:
            row = json.loads(row)
            parent_id = row['parent_id']
            body = format_data(row['body'])
            created_utc = row['created_utc']
            score = row['score']
           # comment_id = row['name']
            subreddit = row['subreddit']
            
            parent_data = find_parent(parent_id)
            
            # we only consider comments that have at least score of 2
            if score >= 2:
                # in this section we want to find out whether an existing child of a parent has a lower score 
                # than the current comment. If so, replace it.
                existing_comment_score = find_existing_score(parent_id)
                if existing_comment_score:
                    if score > existing_comment_score:
                        if acceptable(body):
                            sql_insert_replace_comment(comment_id, parent_id, parent_data, body, subreddit, created_utc, score)
                
                # if the parent comment doesn't have a child
                else:
                    if acceptable(body):
                        # and has a parent
                        if parent_data:
                            sql_insert_has_parent(comment_id, parent_id, parent_data, body, subreddit, created_utc, score)
                            paired_rows += 1
                        # and hasn't got a parent
                        else:
                            sql_insert_no_parent(comment_id, parent_id, body, subreddit, created_utc, score)
                            
            # po spracovani kazdych 100k riadkov si urobim kontrolny vypis
            if row_counter % 100000 == 0:
                print('Total Rows Read: {}, Paired Rows: {}, Time: {}'.format(row_counter, paired_rows, str(datetime.now())))

Total Rows Read: 100000, Paired Rows: 3718, Time: 2018-01-14 15:33:07.718606
Total Rows Read: 200000, Paired Rows: 8432, Time: 2018-01-14 15:33:13.514158
Total Rows Read: 300000, Paired Rows: 13772, Time: 2018-01-14 15:33:19.340454
Total Rows Read: 400000, Paired Rows: 19179, Time: 2018-01-14 15:33:25.208208
Total Rows Read: 500000, Paired Rows: 24365, Time: 2018-01-14 15:33:30.714868
Total Rows Read: 600000, Paired Rows: 28878, Time: 2018-01-14 15:33:36.118976
Total Rows Read: 700000, Paired Rows: 33611, Time: 2018-01-14 15:33:42.708454
Total Rows Read: 800000, Paired Rows: 39023, Time: 2018-01-14 15:33:48.351413
Total Rows Read: 900000, Paired Rows: 44662, Time: 2018-01-14 15:33:55.199840
Total Rows Read: 1000000, Paired Rows: 50247, Time: 2018-01-14 15:34:00.836592
Total Rows Read: 1100000, Paired Rows: 55890, Time: 2018-01-14 15:34:06.500946
Total Rows Read: 1200000, Paired Rows: 61380, Time: 2018-01-14 15:34:12.098421
Total Rows Read: 1300000, Paired Rows: 67071, Time: 2018-01-14 15:34:18.977175
Total Rows Read: 1400000, Paired Rows: 72540, Time: 2018-01-14 15:34:25.011748
Total Rows Read: 1500000, Paired Rows: 77770, Time: 2018-01-14 15:34:30.865183
Total Rows Read: 1600000, Paired Rows: 83410, Time: 2018-01-14 15:34:37.982496
Total Rows Read: 1700000, Paired Rows: 88753, Time: 2018-01-14 15:34:43.773226
Total Rows Read: 1800000, Paired Rows: 93953, Time: 2018-01-14 15:34:50.808587
Total Rows Read: 1900000, Paired Rows: 98937, Time: 2018-01-14 15:34:57.134504
Total Rows Read: 2000000, Paired Rows: 104805, Time: 2018-01-14 15:35:03.620348
Total Rows Read: 2100000, Paired Rows: 109851, Time: 2018-01-14 15:35:09.387908
Total Rows Read: 2200000, Paired Rows: 114627, Time: 2018-01-14 15:35:15.009153
Total Rows Read: 2300000, Paired Rows: 119821, Time: 2018-01-14 15:35:20.733777
Total Rows Read: 2400000, Paired Rows: 125452, Time: 2018-01-14 15:35:26.477437
Total Rows Read: 2500000, Paired Rows: 131328, Time: 2018-01-14 15:35:32.231977
Total Rows Read: 2600000, Paired Rows: 137492, Time: 2018-01-14 15:35:38.039383
Total Rows Read: 2700000, Paired Rows: 143568, Time: 2018-01-14 15:35:44.915403
Total Rows Read: 2800000, Paired Rows: 149532, Time: 2018-01-14 15:35:50.660859
Total Rows Read: 2900000, Paired Rows: 155325, Time: 2018-01-14 15:35:56.403143
Total Rows Read: 3000000, Paired Rows: 161312, Time: 2018-01-14 15:36:02.141563
Total Rows Read: 3100000, Paired Rows: 167275, Time: 2018-01-14 15:36:07.892347
Total Rows Read: 3200000, Paired Rows: 173085, Time: 2018-01-14 15:36:13.610055
Total Rows Read: 3300000, Paired Rows: 178695, Time: 2018-01-14 15:36:19.361105
Total Rows Read: 3400000, Paired Rows: 184233, Time: 2018-01-14 15:36:25.030061
Total Rows Read: 3500000, Paired Rows: 190041, Time: 2018-01-14 15:36:30.734774
Total Rows Read: 3600000, Paired Rows: 195611, Time: 2018-01-14 15:36:36.477074
Total Rows Read: 3700000, Paired Rows: 201066, Time: 2018-01-14 15:36:42.154553
Total Rows Read: 3800000, Paired Rows: 206031, Time: 2018-01-14 15:36:47.869326
Total Rows Read: 3900000, Paired Rows: 211039, Time: 2018-01-14 15:36:53.570543
Total Rows Read: 4000000, Paired Rows: 216410, Time: 2018-01-14 15:36:59.286788
Total Rows Read: 4100000, Paired Rows: 222204, Time: 2018-01-14 15:37:05.079534
Total Rows Read: 4200000, Paired Rows: 228110, Time: 2018-01-14 15:37:10.808353
Total Rows Read: 4300000, Paired Rows: 233885, Time: 2018-01-14 15:37:16.539842
Total Rows Read: 4400000, Paired Rows: 239804, Time: 2018-01-14 15:37:22.298286
Total Rows Read: 4500000, Paired Rows: 245324, Time: 2018-01-14 15:37:27.988107
Total Rows Read: 4600000, Paired Rows: 250868, Time: 2018-01-14 15:37:33.639955
Total Rows Read: 4700000, Paired Rows: 256214, Time: 2018-01-14 15:37:39.232276
Total Rows Read: 4800000, Paired Rows: 262160, Time: 2018-01-14 15:37:45.002909
Total Rows Read: 4900000, Paired Rows: 267913, Time: 2018-01-14 15:37:50.780874
Total Rows Read: 5000000, Paired Rows: 273400, Time: 2018-01-14 15:37:56.462985
Total Rows Read: 5100000, Paired Rows: 279300, Time: 2018-01-14 15:38:02.232072
Total Rows Read: 5200000, Paired Rows: 285061, Time: 2018-01-14 15:38:08.010586
Total Rows Read: 5300000, Paired Rows: 290612, Time: 2018-01-14 15:38:13.707847
Total Rows Read: 5400000, Paired Rows: 295736, Time: 2018-01-14 15:38:19.366358
Total Rows Read: 5500000, Paired Rows: 300803, Time: 2018-01-14 15:38:25.132796
Total Rows Read: 5600000, Paired Rows: 306152, Time: 2018-01-14 15:38:31.000409
Total Rows Read: 5700000, Paired Rows: 311712, Time: 2018-01-14 15:38:36.706222
Total Rows Read: 5800000, Paired Rows: 317330, Time: 2018-01-14 15:38:42.440695
Total Rows Read: 5900000, Paired Rows: 323002, Time: 2018-01-14 15:38:48.188011
Total Rows Read: 6000000, Paired Rows: 328704, Time: 2018-01-14 15:38:53.913772
Total Rows Read: 6100000, Paired Rows: 334510, Time: 2018-01-14 15:38:59.660080
Total Rows Read: 6200000, Paired Rows: 339772, Time: 2018-01-14 15:39:05.339411
Total Rows Read: 6300000, Paired Rows: 345039, Time: 2018-01-14 15:39:10.920728
Total Rows Read: 6400000, Paired Rows: 349953, Time: 2018-01-14 15:39:16.257539
Total Rows Read: 6500000, Paired Rows: 355904, Time: 2018-01-14 15:39:21.802151
Total Rows Read: 6600000, Paired Rows: 361949, Time: 2018-01-14 15:39:27.351092
Total Rows Read: 6700000, Paired Rows: 367978, Time: 2018-01-14 15:39:32.870046
Total Rows Read: 6800000, Paired Rows: 373926, Time: 2018-01-14 15:39:38.366163
Total Rows Read: 6900000, Paired Rows: 379713, Time: 2018-01-14 15:39:43.841900
Total Rows Read: 7000000, Paired Rows: 384909, Time: 2018-01-14 15:39:49.291574
Total Rows Read: 7100000, Paired Rows: 390114, Time: 2018-01-14 15:39:54.760082
Total Rows Read: 7200000, Paired Rows: 395569, Time: 2018-01-14 15:40:00.253230
Total Rows Read: 7300000, Paired Rows: 401215, Time: 2018-01-14 15:40:05.782770
Total Rows Read: 7400000, Paired Rows: 407080, Time: 2018-01-14 15:40:11.355823
Total Rows Read: 7500000, Paired Rows: 413172, Time: 2018-01-14 15:40:16.877706
Total Rows Read: 7600000, Paired Rows: 419464, Time: 2018-01-14 15:40:22.523846
Total Rows Read: 7700000, Paired Rows: 425264, Time: 2018-01-14 15:40:28.270906
Total Rows Read: 7800000, Paired Rows: 430982, Time: 2018-01-14 15:40:33.932488
Total Rows Read: 7900000, Paired Rows: 437124, Time: 2018-01-14 15:40:39.661512
Total Rows Read: 8000000, Paired Rows: 443057, Time: 2018-01-14 15:40:45.375347
Total Rows Read: 8100000, Paired Rows: 449024, Time: 2018-01-14 15:40:51.150069
Total Rows Read: 8200000, Paired Rows: 454794, Time: 2018-01-14 15:40:56.713418
Total Rows Read: 8300000, Paired Rows: 460211, Time: 2018-01-14 15:41:02.111546
Total Rows Read: 8400000, Paired Rows: 465718, Time: 2018-01-14 15:41:07.550731
Total Rows Read: 8500000, Paired Rows: 471239, Time: 2018-01-14 15:41:13.010548
Total Rows Read: 8600000, Paired Rows: 476928, Time: 2018-01-14 15:41:18.491604
Total Rows Read: 8700000, Paired Rows: 482267, Time: 2018-01-14 15:41:23.957106
Total Rows Read: 8800000, Paired Rows: 487265, Time: 2018-01-14 15:41:29.416248
Total Rows Read: 8900000, Paired Rows: 492465, Time: 2018-01-14 15:41:34.913201
Total Rows Read: 9000000, Paired Rows: 498075, Time: 2018-01-14 15:41:40.449105
Total Rows Read: 9100000, Paired Rows: 503853, Time: 2018-01-14 15:41:45.964489
Total Rows Read: 9200000, Paired Rows: 510080, Time: 2018-01-14 15:41:51.558345
Total Rows Read: 9300000, Paired Rows: 516179, Time: 2018-01-14 15:41:57.139155
Total Rows Read: 9400000, Paired Rows: 522327, Time: 2018-01-14 15:42:02.747661
Total Rows Read: 9500000, Paired Rows: 528385, Time: 2018-01-14 15:42:08.376869
Total Rows Read: 9600000, Paired Rows: 534615, Time: 2018-01-14 15:42:13.942843
Total Rows Read: 9700000, Paired Rows: 540645, Time: 2018-01-14 15:42:19.475588
Total Rows Read: 9800000, Paired Rows: 546799, Time: 2018-01-14 15:42:25.160218
Total Rows Read: 9900000, Paired Rows: 552901, Time: 2018-01-14 15:42:30.918196
Total Rows Read: 10000000, Paired Rows: 558975, Time: 2018-01-14 15:42:36.593646
Total Rows Read: 10100000, Paired Rows: 564771, Time: 2018-01-14 15:42:42.280652
Total Rows Read: 10200000, Paired Rows: 570598, Time: 2018-01-14 15:42:47.990753
Total Rows Read: 10300000, Paired Rows: 576376, Time: 2018-01-14 15:42:53.713503

Total Rows Read: 10400000, Paired Rows: 581946, Time: 2018-01-14 15:42:59.385274
Total Rows Read: 10500000, Paired Rows: 587347, Time: 2018-01-14 15:43:05.216800
Total Rows Read: 10600000, Paired Rows: 592208, Time: 2018-01-14 15:43:11.179993
Total Rows Read: 10700000, Paired Rows: 597088, Time: 2018-01-14 15:43:16.978511
Total Rows Read: 10800000, Paired Rows: 602615, Time: 2018-01-14 15:43:22.848012
Total Rows Read: 10900000, Paired Rows: 608336, Time: 2018-01-14 15:43:28.652134
Total Rows Read: 11000000, Paired Rows: 614359, Time: 2018-01-14 15:43:34.430240
Total Rows Read: 11100000, Paired Rows: 620388, Time: 2018-01-14 15:43:40.344460
Total Rows Read: 11200000, Paired Rows: 626342, Time: 2018-01-14 15:43:46.256839
Total Rows Read: 11300000, Paired Rows: 632509, Time: 2018-01-14 15:43:52.208835
Total Rows Read: 11400000, Paired Rows: 638744, Time: 2018-01-14 15:43:58.197401
Total Rows Read: 11500000, Paired Rows: 644898, Time: 2018-01-14 15:44:04.246655
Total Rows Read: 11600000, Paired Rows: 650940, Time: 2018-01-14 15:44:10.142426
Total Rows Read: 11700000, Paired Rows: 656976, Time: 2018-01-14 15:44:15.863801
Total Rows Read: 11800000, Paired Rows: 662623, Time: 2018-01-14 15:44:21.821981
Total Rows Read: 11900000, Paired Rows: 668389, Time: 2018-01-14 15:44:27.747259
Total Rows Read: 12000000, Paired Rows: 674337, Time: 2018-01-14 15:44:33.721486
Total Rows Read: 12100000, Paired Rows: 680106, Time: 2018-01-14 15:44:39.650928
Total Rows Read: 12200000, Paired Rows: 685829, Time: 2018-01-14 15:44:45.569641
Total Rows Read: 12300000, Paired Rows: 691520, Time: 2018-01-14 15:44:51.593245
Total Rows Read: 12400000, Paired Rows: 696691, Time: 2018-01-14 15:44:57.441430
Total Rows Read: 12500000, Paired Rows: 701591, Time: 2018-01-14 15:45:03.287955
Total Rows Read: 12600000, Paired Rows: 706932, Time: 2018-01-14 15:45:09.074667
Total Rows Read: 12700000, Paired Rows: 712657, Time: 2018-01-14 15:45:14.814667
Total Rows Read: 12800000, Paired Rows: 718712, Time: 2018-01-14 15:45:20.624386
Total Rows Read: 12900000, Paired Rows: 724769, Time: 2018-01-14 15:45:26.424447
Total Rows Read: 13000000, Paired Rows: 731065, Time: 2018-01-14 15:45:32.347935
Total Rows Read: 13100000, Paired Rows: 737297, Time: 2018-01-14 15:45:38.807439
Total Rows Read: 13200000, Paired Rows: 743579, Time: 2018-01-14 15:45:45.108178
Total Rows Read: 13300000, Paired Rows: 750056, Time: 2018-01-14 15:45:51.081179
Total Rows Read: 13400000, Paired Rows: 755757, Time: 2018-01-14 15:45:57.021901
Total Rows Read: 13500000, Paired Rows: 761723, Time: 2018-01-14 15:46:02.988767
Total Rows Read: 13600000, Paired Rows: 767664, Time: 2018-01-14 15:46:08.913366
Total Rows Read: 13700000, Paired Rows: 773361, Time: 2018-01-14 15:46:14.854627
Total Rows Read: 13800000, Paired Rows: 779362, Time: 2018-01-14 15:46:20.713595
Total Rows Read: 13900000, Paired Rows: 785203, Time: 2018-01-14 15:46:26.479394
Total Rows Read: 14000000, Paired Rows: 791123, Time: 2018-01-14 15:46:32.292574
Total Rows Read: 14100000, Paired Rows: 796924, Time: 2018-01-14 15:46:38.107255
Total Rows Read: 14200000, Paired Rows: 802171, Time: 2018-01-14 15:46:44.006426
Total Rows Read: 14300000, Paired Rows: 806994, Time: 2018-01-14 15:46:49.880713
Total Rows Read: 14400000, Paired Rows: 812286, Time: 2018-01-14 15:46:55.786308
Total Rows Read: 14500000, Paired Rows: 817737, Time: 2018-01-14 15:47:01.710441
Total Rows Read: 14600000, Paired Rows: 823545, Time: 2018-01-14 15:47:07.705708
Total Rows Read: 14700000, Paired Rows: 829479, Time: 2018-01-14 15:47:13.717959
Total Rows Read: 14800000, Paired Rows: 835617, Time: 2018-01-14 15:47:19.750619
Total Rows Read: 14900000, Paired Rows: 841685, Time: 2018-01-14 15:47:25.786123
Total Rows Read: 15000000, Paired Rows: 847959, Time: 2018-01-14 15:47:32.059929
Total Rows Read: 15100000, Paired Rows: 854212, Time: 2018-01-14 15:47:38.071487
Total Rows Read: 15200000, Paired Rows: 860523, Time: 2018-01-14 15:47:44.083297
Total Rows Read: 15300000, Paired Rows: 866629, Time: 2018-01-14 15:47:49.901895
Total Rows Read: 15400000, Paired Rows: 872456, Time: 2018-01-14 15:47:55.758755
Total Rows Read: 15500000, Paired Rows: 878179, Time: 2018-01-14 15:48:01.730517
Total Rows Read: 15600000, Paired Rows: 883821, Time: 2018-01-14 15:48:07.633510
Total Rows Read: 15700000, Paired Rows: 889321, Time: 2018-01-14 15:48:13.631893
Total Rows Read: 15800000, Paired Rows: 894880, Time: 2018-01-14 15:48:19.555863
Total Rows Read: 15900000, Paired Rows: 900263, Time: 2018-01-14 15:48:25.728987
Total Rows Read: 16000000, Paired Rows: 905182, Time: 2018-01-14 15:48:31.411534
Total Rows Read: 16100000, Paired Rows: 909914, Time: 2018-01-14 15:48:37.024082
Total Rows Read: 16200000, Paired Rows: 915282, Time: 2018-01-14 15:48:42.783322
Total Rows Read: 16300000, Paired Rows: 920901, Time: 2018-01-14 15:48:48.743610
Total Rows Read: 16400000, Paired Rows: 926871, Time: 2018-01-14 15:48:54.732578
Total Rows Read: 16500000, Paired Rows: 932658, Time: 2018-01-14 15:49:00.681889
Total Rows Read: 16600000, Paired Rows: 938729, Time: 2018-01-14 15:49:06.654498
Total Rows Read: 16700000, Paired Rows: 944833, Time: 2018-01-14 15:49:12.641176
Total Rows Read: 16800000, Paired Rows: 950163, Time: 2018-01-14 15:49:18.380355
Total Rows Read: 16900000, Paired Rows: 955644, Time: 2018-01-14 15:49:24.011978
Total Rows Read: 17000000, Paired Rows: 960819, Time: 2018-01-14 15:49:29.740318
Total Rows Read: 17100000, Paired Rows: 966366, Time: 2018-01-14 15:49:35.687668
Total Rows Read: 17200000, Paired Rows: 971872, Time: 2018-01-14 15:49:41.571508
Total Rows Read: 17300000, Paired Rows: 977400, Time: 2018-01-14 15:49:47.532574
Total Rows Read: 17400000, Paired Rows: 983427, Time: 2018-01-14 15:49:53.582730
Total Rows Read: 17500000, Paired Rows: 989107, Time: 2018-01-14 15:49:59.553863
Total Rows Read: 17600000, Paired Rows: 994392, Time: 2018-01-14 15:50:05.350800
Total Rows Read: 17700000, Paired Rows: 999216, Time: 2018-01-14 15:50:11.251989
Total Rows Read: 17800000, Paired Rows: 1004419, Time: 2018-01-14 15:50:17.213036
Total Rows Read: 17900000, Paired Rows: 1010098, Time: 2018-01-14 15:50:23.196294
Total Rows Read: 18000000, Paired Rows: 1015730, Time: 2018-01-14 15:50:29.167013
Total Rows Read: 18100000, Paired Rows: 1021272, Time: 2018-01-14 15:50:35.162364
Total Rows Read: 18200000, Paired Rows: 1026853, Time: 2018-01-14 15:50:41.099793
Total Rows Read: 18300000, Paired Rows: 1031949, Time: 2018-01-14 15:50:47.000997
Total Rows Read: 18400000, Paired Rows: 1037331, Time: 2018-01-14 15:50:53.069621
Total Rows Read: 18500000, Paired Rows: 1043178, Time: 2018-01-14 15:50:59.225042
Total Rows Read: 18600000, Paired Rows: 1048883, Time: 2018-01-14 15:51:05.136059
Total Rows Read: 18700000, Paired Rows: 1054400, Time: 2018-01-14 15:51:11.080825
Total Rows Read: 18800000, Paired Rows: 1060378, Time: 2018-01-14 15:51:17.036578
Total Rows Read: 18900000, Paired Rows: 1066439, Time: 2018-01-14 15:51:23.234678
Total Rows Read: 19000000, Paired Rows: 1072499, Time: 2018-01-14 15:51:29.400265
Total Rows Read: 19100000, Paired Rows: 1078162, Time: 2018-01-14 15:51:35.558729
Total Rows Read: 19200000, Paired Rows: 1083716, Time: 2018-01-14 15:51:41.760143
Total Rows Read: 19300000, Paired Rows: 1088698, Time: 2018-01-14 15:51:47.850928
Total Rows Read: 19400000, Paired Rows: 1094057, Time: 2018-01-14 15:51:53.956045
Total Rows Read: 19500000, Paired Rows: 1099743, Time: 2018-01-14 15:52:00.179543
Total Rows Read: 19600000, Paired Rows: 1105825, Time: 2018-01-14 15:52:06.365784
Total Rows Read: 19700000, Paired Rows: 1111969, Time: 2018-01-14 15:52:12.454251
Total Rows Read: 19800000, Paired Rows: 1118082, Time: 2018-01-14 15:52:18.525002
Total Rows Read: 19900000, Paired Rows: 1124089, Time: 2018-01-14 15:52:24.891414
Total Rows Read: 20000000, Paired Rows: 1130328, Time: 2018-01-14 15:52:31.083974
Total Rows Read: 20100000, Paired Rows: 1136427, Time: 2018-01-14 15:52:37.295523
Total Rows Read: 20200000, Paired Rows: 1142671, Time: 2018-01-14 15:52:43.467465
Total Rows Read: 20300000, Paired Rows: 1148603, Time: 2018-01-14 15:52:49.679326
Total Rows Read: 20400000, Paired Rows: 1154661, Time: 2018-01-14 15:52:55.789932

Total Rows Read: 20500000, Paired Rows: 1160208, Time: 2018-01-14 15:53:01.804392
Total Rows Read: 20600000, Paired Rows: 1165505, Time: 2018-01-14 15:53:07.754255
Total Rows Read: 20700000, Paired Rows: 1170811, Time: 2018-01-14 15:53:13.585980
Total Rows Read: 20800000, Paired Rows: 1176029, Time: 2018-01-14 15:53:19.461204
Total Rows Read: 20900000, Paired Rows: 1181544, Time: 2018-01-14 15:53:25.426661
Total Rows Read: 21000000, Paired Rows: 1186670, Time: 2018-01-14 15:53:31.327347
Total Rows Read: 21100000, Paired Rows: 1191269, Time: 2018-01-14 15:53:37.387320
Total Rows Read: 21200000, Paired Rows: 1196455, Time: 2018-01-14 15:53:43.489478
Total Rows Read: 21300000, Paired Rows: 1201958, Time: 2018-01-14 15:53:49.629439
Total Rows Read: 21400000, Paired Rows: 1207853, Time: 2018-01-14 15:53:55.836294
Total Rows Read: 21500000, Paired Rows: 1213852, Time: 2018-01-14 15:54:01.998466
Total Rows Read: 21600000, Paired Rows: 1219847, Time: 2018-01-14 15:54:08.203192
Total Rows Read: 21700000, Paired Rows: 1225903, Time: 2018-01-14 15:54:14.218584
Total Rows Read: 21800000, Paired Rows: 1231823, Time: 2018-01-14 15:54:20.310870
Total Rows Read: 21900000, Paired Rows: 1237558, Time: 2018-01-14 15:54:26.374709
Total Rows Read: 22000000, Paired Rows: 1243168, Time: 2018-01-14 15:54:32.443757
Total Rows Read: 22100000, Paired Rows: 1248672, Time: 2018-01-14 15:54:38.514633
Total Rows Read: 22200000, Paired Rows: 1254483, Time: 2018-01-14 15:54:44.554228
Total Rows Read: 22300000, Paired Rows: 1260384, Time: 2018-01-14 15:54:50.703507
Total Rows Read: 22400000, Paired Rows: 1266302, Time: 2018-01-14 15:54:56.640246
Total Rows Read: 22500000, Paired Rows: 1272174, Time: 2018-01-14 15:55:02.601818
Total Rows Read: 22600000, Paired Rows: 1278140, Time: 2018-01-14 15:55:08.540601
Total Rows Read: 22700000, Paired Rows: 1283897, Time: 2018-01-14 15:55:14.691717
Total Rows Read: 22800000, Paired Rows: 1289335, Time: 2018-01-14 15:55:20.778834
Total Rows Read: 22900000, Paired Rows: 1294142, Time: 2018-01-14 15:55:26.831601
Total Rows Read: 23000000, Paired Rows: 1299122, Time: 2018-01-14 15:55:32.858275
Total Rows Read: 23100000, Paired Rows: 1304530, Time: 2018-01-14 15:55:38.989849
Total Rows Read: 23200000, Paired Rows: 1310361, Time: 2018-01-14 15:55:45.042252
Total Rows Read: 23300000, Paired Rows: 1316506, Time: 2018-01-14 15:55:51.049148
Total Rows Read: 23400000, Paired Rows: 1322480, Time: 2018-01-14 15:55:57.202170
Total Rows Read: 23500000, Paired Rows: 1328394, Time: 2018-01-14 15:56:03.331208
Total Rows Read: 23600000, Paired Rows: 1334301, Time: 2018-01-14 15:56:09.511304
Total Rows Read: 23700000, Paired Rows: 1340580, Time: 2018-01-14 15:56:15.694962
Total Rows Read: 23800000, Paired Rows: 1346774, Time: 2018-01-14 15:56:21.872555
Total Rows Read: 23900000, Paired Rows: 1353002, Time: 2018-01-14 15:56:28.059201
Total Rows Read: 24000000, Paired Rows: 1359348, Time: 2018-01-14 15:56:34.296421
Total Rows Read: 24100000, Paired Rows: 1365228, Time: 2018-01-14 15:56:40.394210
Total Rows Read: 24200000, Paired Rows: 1371109, Time: 2018-01-14 15:56:46.375632
Total Rows Read: 24300000, Paired Rows: 1376974, Time: 2018-01-14 15:56:52.480869
Total Rows Read: 24400000, Paired Rows: 1382810, Time: 2018-01-14 15:56:58.622935
Total Rows Read: 24500000, Paired Rows: 1388541, Time: 2018-01-14 15:57:04.754580
Total Rows Read: 24600000, Paired Rows: 1394106, Time: 2018-01-14 15:57:10.842334
Total Rows Read: 24700000, Paired Rows: 1399307, Time: 2018-01-14 15:57:16.969537
Total Rows Read: 24800000, Paired Rows: 1404472, Time: 2018-01-14 15:57:23.070415
Total Rows Read: 24900000, Paired Rows: 1410082, Time: 2018-01-14 15:57:29.005476
Total Rows Read: 25000000, Paired Rows: 1415993, Time: 2018-01-14 15:57:34.972204
Total Rows Read: 25100000, Paired Rows: 1421885, Time: 2018-01-14 15:57:40.920742
Total Rows Read: 25200000, Paired Rows: 1427898, Time: 2018-01-14 15:57:46.891229
Total Rows Read: 25300000, Paired Rows: 1433979, Time: 2018-01-14 15:57:53.024206
Total Rows Read: 25400000, Paired Rows: 1440106, Time: 2018-01-14 15:57:59.225806
Total Rows Read: 25500000, Paired Rows: 1446300, Time: 2018-01-14 15:58:05.410280
Total Rows Read: 25600000, Paired Rows: 1452471, Time: 2018-01-14 15:58:11.646538
Total Rows Read: 25700000, Paired Rows: 1458807, Time: 2018-01-14 15:58:17.892952
Total Rows Read: 25800000, Paired Rows: 1464873, Time: 2018-01-14 15:58:24.049775
Total Rows Read: 25900000, Paired Rows: 1470954, Time: 2018-01-14 15:58:30.227270
Total Rows Read: 26000000, Paired Rows: 1476792, Time: 2018-01-14 15:58:36.341959
Total Rows Read: 26100000, Paired Rows: 1482671, Time: 2018-01-14 15:58:42.315052
Total Rows Read: 26200000, Paired Rows: 1488494, Time: 2018-01-14 15:58:48.273404
Total Rows Read: 26300000, Paired Rows: 1494478, Time: 2018-01-14 15:58:54.378421
Total Rows Read: 26400000, Paired Rows: 1499922, Time: 2018-01-14 15:59:00.472216
Total Rows Read: 26500000, Paired Rows: 1505161, Time: 2018-01-14 15:59:06.556653
Total Rows Read: 26600000, Paired Rows: 1509920, Time: 2018-01-14 15:59:12.581549
Total Rows Read: 26700000, Paired Rows: 1514947, Time: 2018-01-14 15:59:18.630005
Total Rows Read: 26800000, Paired Rows: 1520497, Time: 2018-01-14 15:59:24.607056
Total Rows Read: 26900000, Paired Rows: 1526467, Time: 2018-01-14 15:59:30.586154
Total Rows Read: 27000000, Paired Rows: 1532400, Time: 2018-01-14 15:59:36.559024
Total Rows Read: 27100000, Paired Rows: 1538558, Time: 2018-01-14 15:59:42.687022
Total Rows Read: 27200000, Paired Rows: 1544746, Time: 2018-01-14 15:59:48.868973
Total Rows Read: 27300000, Paired Rows: 1550965, Time: 2018-01-14 15:59:55.043486
Total Rows Read: 27400000, Paired Rows: 1557167, Time: 2018-01-14 16:00:01.218079
Total Rows Read: 27500000, Paired Rows: 1563275, Time: 2018-01-14 16:00:07.421644
Total Rows Read: 27600000, Paired Rows: 1569330, Time: 2018-01-14 16:00:13.577127
Total Rows Read: 27700000, Paired Rows: 1575329, Time: 2018-01-14 16:00:19.672762
Total Rows Read: 27800000, Paired Rows: 1581126, Time: 2018-01-14 16:00:25.760931
Total Rows Read: 27900000, Paired Rows: 1586662, Time: 2018-01-14 16:00:31.665878
Total Rows Read: 28000000, Paired Rows: 1592274, Time: 2018-01-14 16:00:37.563481
Total Rows Read: 28100000, Paired Rows: 1597872, Time: 2018-01-14 16:00:43.566132
Total Rows Read: 28200000, Paired Rows: 1603065, Time: 2018-01-14 16:00:49.625065
Total Rows Read: 28300000, Paired Rows: 1608109, Time: 2018-01-14 16:00:55.569869
Total Rows Read: 28400000, Paired Rows: 1612755, Time: 2018-01-14 16:01:01.559447
Total Rows Read: 28500000, Paired Rows: 1618005, Time: 2018-01-14 16:01:07.602783
Total Rows Read: 28600000, Paired Rows: 1623342, Time: 2018-01-14 16:01:13.567786
Total Rows Read: 28700000, Paired Rows: 1629099, Time: 2018-01-14 16:01:19.521738
Total Rows Read: 28800000, Paired Rows: 1635243, Time: 2018-01-14 16:01:25.647187
Total Rows Read: 28900000, Paired Rows: 1641257, Time: 2018-01-14 16:01:31.768613
Total Rows Read: 29000000, Paired Rows: 1647312, Time: 2018-01-14 16:01:37.947119
Total Rows Read: 29100000, Paired Rows: 1653211, Time: 2018-01-14 16:01:44.091397
Total Rows Read: 29200000, Paired Rows: 1659190, Time: 2018-01-14 16:01:50.214436
Total Rows Read: 29300000, Paired Rows: 1665008, Time: 2018-01-14 16:01:56.337835
Total Rows Read: 29400000, Paired Rows: 1670717, Time: 2018-01-14 16:02:02.476407
Total Rows Read: 29500000, Paired Rows: 1676435, Time: 2018-01-14 16:02:08.603863
Total Rows Read: 29600000, Paired Rows: 1682231, Time: 2018-01-14 16:02:14.723734
Total Rows Read: 29700000, Paired Rows: 1687576, Time: 2018-01-14 16:02:20.853442
Total Rows Read: 29800000, Paired Rows: 1692533, Time: 2018-01-14 16:02:26.957934
Total Rows Read: 29900000, Paired Rows: 1697495, Time: 2018-01-14 16:02:32.931218
Total Rows Read: 30000000, Paired Rows: 1703064, Time: 2018-01-14 16:02:38.878483
Total Rows Read: 30100000, Paired Rows: 1708711, Time: 2018-01-14 16:02:44.816931
Total Rows Read: 30200000, Paired Rows: 1714479, Time: 2018-01-14 16:02:50.997651
Total Rows Read: 30300000, Paired Rows: 1720534, Time: 2018-01-14 16:02:57.203368
Total Rows Read: 30400000, Paired Rows: 1725689, Time: 2018-01-14 16:03:03.158129

Total Rows Read: 30500000, Paired Rows: 1730588, Time: 2018-01-14 16:03:09.144740
Total Rows Read: 30600000, Paired Rows: 1735576, Time: 2018-01-14 16:03:15.204349
Total Rows Read: 30700000, Paired Rows: 1739831, Time: 2018-01-14 16:03:20.882578
Total Rows Read: 30800000, Paired Rows: 1745121, Time: 2018-01-14 16:03:26.822005
Total Rows Read: 30900000, Paired Rows: 1750750, Time: 2018-01-14 16:03:32.697504
Total Rows Read: 31000000, Paired Rows: 1756090, Time: 2018-01-14 16:03:38.603791
Total Rows Read: 31100000, Paired Rows: 1762080, Time: 2018-01-14 16:03:44.712428
Total Rows Read: 31200000, Paired Rows: 1767978, Time: 2018-01-14 16:03:50.816947
Total Rows Read: 31300000, Paired Rows: 1773884, Time: 2018-01-14 16:03:56.942842
Total Rows Read: 31400000, Paired Rows: 1779396, Time: 2018-01-14 16:04:03.059640
Total Rows Read: 31500000, Paired Rows: 1784217, Time: 2018-01-14 16:04:09.027983
Total Rows Read: 31600000, Paired Rows: 1789383, Time: 2018-01-14 16:04:15.095378
Total Rows Read: 31700000, Paired Rows: 1794748, Time: 2018-01-14 16:04:21.200518
Total Rows Read: 31800000, Paired Rows: 1800518, Time: 2018-01-14 16:04:27.375472
Total Rows Read: 31900000, Paired Rows: 1806452, Time: 2018-01-14 16:04:33.537008
Total Rows Read: 32000000, Paired Rows: 1812575, Time: 2018-01-14 16:04:39.508736
Total Rows Read: 32100000, Paired Rows: 1818303, Time: 2018-01-14 16:04:45.583668
Total Rows Read: 32200000, Paired Rows: 1823952, Time: 2018-01-14 16:04:51.680438
Total Rows Read: 32300000, Paired Rows: 1829442, Time: 2018-01-14 16:04:57.684433
Total Rows Read: 32400000, Paired Rows: 1834800, Time: 2018-01-14 16:05:03.660832
Total Rows Read: 32500000, Paired Rows: 1840197, Time: 2018-01-14 16:05:09.661735
Total Rows Read: 32600000, Paired Rows: 1845807, Time: 2018-01-14 16:05:15.657971
Total Rows Read: 32700000, Paired Rows: 1851339, Time: 2018-01-14 16:05:21.694439
Total Rows Read: 32800000, Paired Rows: 1856557, Time: 2018-01-14 16:05:27.699521
Total Rows Read: 32900000, Paired Rows: 1861935, Time: 2018-01-14 16:05:33.728105
Total Rows Read: 33000000, Paired Rows: 1867536, Time: 2018-01-14 16:05:39.614151
Total Rows Read: 33100000, Paired Rows: 1872929, Time: 2018-01-14 16:05:45.567133
Total Rows Read: 33200000, Paired Rows: 1878082, Time: 2018-01-14 16:05:51.592868
Total Rows Read: 33300000, Paired Rows: 1882891, Time: 2018-01-14 16:05:57.608672
Total Rows Read: 33400000, Paired Rows: 1888061, Time: 2018-01-14 16:06:03.644208
Total Rows Read: 33500000, Paired Rows: 1893616, Time: 2018-01-14 16:06:09.746941
Total Rows Read: 33600000, Paired Rows: 1899891, Time: 2018-01-14 16:06:15.900270
Total Rows Read: 33700000, Paired Rows: 1906004, Time: 2018-01-14 16:06:22.069465
Total Rows Read: 33800000, Paired Rows: 1912150, Time: 2018-01-14 16:06:28.244910
Total Rows Read: 33900000, Paired Rows: 1918397, Time: 2018-01-14 16:06:34.389750
Total Rows Read: 34000000, Paired Rows: 1924608, Time: 2018-01-14 16:06:40.567479
Total Rows Read: 34100000, Paired Rows: 1930906, Time: 2018-01-14 16:06:46.736687
Total Rows Read: 34200000, Paired Rows: 1936815, Time: 2018-01-14 16:06:52.899145
Total Rows Read: 34300000, Paired Rows: 1942787, Time: 2018-01-14 16:06:59.015306
Total Rows Read: 34400000, Paired Rows: 1948822, Time: 2018-01-14 16:07:05.061252
Total Rows Read: 34500000, Paired Rows: 1954721, Time: 2018-01-14 16:07:11.160128
Total Rows Read: 34600000, Paired Rows: 1960511, Time: 2018-01-14 16:07:17.232527
Total Rows Read: 34700000, Paired Rows: 1966007, Time: 2018-01-14 16:07:23.292388
Total Rows Read: 34800000, Paired Rows: 1971837, Time: 2018-01-14 16:07:29.280506
Total Rows Read: 34900000, Paired Rows: 1977428, Time: 2018-01-14 16:07:35.279879
Total Rows Read: 35000000, Paired Rows: 1982721, Time: 2018-01-14 16:07:41.291102
Total Rows Read: 35100000, Paired Rows: 1987413, Time: 2018-01-14 16:07:47.198022
Total Rows Read: 35200000, Paired Rows: 1992072, Time: 2018-01-14 16:07:53.112999
Total Rows Read: 35300000, Paired Rows: 1997287, Time: 2018-01-14 16:07:59.146392
Total Rows Read: 35400000, Paired Rows: 2002705, Time: 2018-01-14 16:08:05.197666
Total Rows Read: 35500000, Paired Rows: 2008322, Time: 2018-01-14 16:08:11.234472
Total Rows Read: 35600000, Paired Rows: 2014131, Time: 2018-01-14 16:08:17.318571
Total Rows Read: 35700000, Paired Rows: 2020082, Time: 2018-01-14 16:08:23.419109
Total Rows Read: 35800000, Paired Rows: 2026167, Time: 2018-01-14 16:08:29.509336
Total Rows Read: 35900000, Paired Rows: 2032135, Time: 2018-01-14 16:08:35.616138
Total Rows Read: 36000000, Paired Rows: 2038022, Time: 2018-01-14 16:08:41.725741
Total Rows Read: 36100000, Paired Rows: 2044092, Time: 2018-01-14 16:08:47.884285
Total Rows Read: 36200000, Paired Rows: 2050354, Time: 2018-01-14 16:08:54.058273
Total Rows Read: 36300000, Paired Rows: 2056206, Time: 2018-01-14 16:09:00.178905
Total Rows Read: 36400000, Paired Rows: 2062109, Time: 2018-01-14 16:09:06.258264
Total Rows Read: 36500000, Paired Rows: 2067845, Time: 2018-01-14 16:09:12.340718
Total Rows Read: 36600000, Paired Rows: 2073577, Time: 2018-01-14 16:09:18.422731
Total Rows Read: 36700000, Paired Rows: 2079187, Time: 2018-01-14 16:09:24.489320
Total Rows Read: 36800000, Paired Rows: 2085012, Time: 2018-01-14 16:09:30.571170
Total Rows Read: 36900000, Paired Rows: 2090598, Time: 2018-01-14 16:09:36.622402
Total Rows Read: 37000000, Paired Rows: 2095750, Time: 2018-01-14 16:09:42.594213
Total Rows Read: 37100000, Paired Rows: 2100772, Time: 2018-01-14 16:09:48.655112
Total Rows Read: 37200000, Paired Rows: 2106442, Time: 2018-01-14 16:09:54.727216
Total Rows Read: 37300000, Paired Rows: 2112458, Time: 2018-01-14 16:10:00.901030
Total Rows Read: 37400000, Paired Rows: 2118494, Time: 2018-01-14 16:10:07.053828
Total Rows Read: 37500000, Paired Rows: 2124570, Time: 2018-01-14 16:10:13.233966
Total Rows Read: 37600000, Paired Rows: 2130589, Time: 2018-01-14 16:10:19.353344
Total Rows Read: 37700000, Paired Rows: 2136814, Time: 2018-01-14 16:10:25.516042
Total Rows Read: 37800000, Paired Rows: 2142898, Time: 2018-01-14 16:10:31.668392
Total Rows Read: 37900000, Paired Rows: 2148991, Time: 2018-01-14 16:10:37.820903
Total Rows Read: 38000000, Paired Rows: 2155177, Time: 2018-01-14 16:10:43.976047
Total Rows Read: 38100000, Paired Rows: 2161323, Time: 2018-01-14 16:10:50.152966
Total Rows Read: 38200000, Paired Rows: 2167355, Time: 2018-01-14 16:10:56.239482
Total Rows Read: 38300000, Paired Rows: 2173218, Time: 2018-01-14 16:11:02.267251
Total Rows Read: 38400000, Paired Rows: 2179155, Time: 2018-01-14 16:11:08.250880
Total Rows Read: 38500000, Paired Rows: 2184949, Time: 2018-01-14 16:11:14.283653
Total Rows Read: 38600000, Paired Rows: 2190670, Time: 2018-01-14 16:11:20.341407
Total Rows Read: 38700000, Paired Rows: 2196149, Time: 2018-01-14 16:11:26.305544
Total Rows Read: 38800000, Paired Rows: 2201303, Time: 2018-01-14 16:11:32.280236
Total Rows Read: 38900000, Paired Rows: 2206098, Time: 2018-01-14 16:11:38.223117
Total Rows Read: 39000000, Paired Rows: 2211314, Time: 2018-01-14 16:11:44.216009
Total Rows Read: 39100000, Paired Rows: 2216967, Time: 2018-01-14 16:11:50.316271
Total Rows Read: 39200000, Paired Rows: 2222858, Time: 2018-01-14 16:11:56.385066
Total Rows Read: 39300000, Paired Rows: 2229059, Time: 2018-01-14 16:12:02.565840
Total Rows Read: 39400000, Paired Rows: 2235307, Time: 2018-01-14 16:12:08.721931
Total Rows Read: 39500000, Paired Rows: 2241378, Time: 2018-01-14 16:12:14.830011
Total Rows Read: 39600000, Paired Rows: 2247600, Time: 2018-01-14 16:12:20.954690
Total Rows Read: 39700000, Paired Rows: 2253479, Time: 2018-01-14 16:12:27.031934
Total Rows Read: 39800000, Paired Rows: 2259505, Time: 2018-01-14 16:12:33.127884
Total Rows Read: 39900000, Paired Rows: 2265313, Time: 2018-01-14 16:12:39.203286
Total Rows Read: 40000000, Paired Rows: 2271302, Time: 2018-01-14 16:12:45.272026
Total Rows Read: 40100000, Paired Rows: 2276893, Time: 2018-01-14 16:12:51.349518
Total Rows Read: 40200000, Paired Rows: 2282343, Time: 2018-01-14 16:12:57.356397
Total Rows Read: 40300000, Paired Rows: 2287965, Time: 2018-01-14 16:13:03.315664
Total Rows Read: 40400000, Paired Rows: 2293416, Time: 2018-01-14 16:13:09.257488

Total Rows Read: 40500000, Paired Rows: 2298855, Time: 2018-01-14 16:13:15.167641
Total Rows Read: 40600000, Paired Rows: 2303984, Time: 2018-01-14 16:13:21.166063
Total Rows Read: 40700000, Paired Rows: 2308817, Time: 2018-01-14 16:13:27.108749
Total Rows Read: 40800000, Paired Rows: 2314096, Time: 2018-01-14 16:13:33.140336
Total Rows Read: 40900000, Paired Rows: 2319743, Time: 2018-01-14 16:13:39.215842
Total Rows Read: 41000000, Paired Rows: 2325507, Time: 2018-01-14 16:13:45.335374
Total Rows Read: 41100000, Paired Rows: 2331486, Time: 2018-01-14 16:13:51.432361
Total Rows Read: 41200000, Paired Rows: 2337532, Time: 2018-01-14 16:13:57.536135
Total Rows Read: 41300000, Paired Rows: 2343523, Time: 2018-01-14 16:14:03.636913
Total Rows Read: 41400000, Paired Rows: 2349484, Time: 2018-01-14 16:14:09.707308
Total Rows Read: 41500000, Paired Rows: 2355254, Time: 2018-01-14 16:14:15.697690
Total Rows Read: 41600000, Paired Rows: 2360807, Time: 2018-01-14 16:14:21.628516
Total Rows Read: 41700000, Paired Rows: 2366378, Time: 2018-01-14 16:14:27.572516
Total Rows Read: 41800000, Paired Rows: 2372025, Time: 2018-01-14 16:14:33.443415
Total Rows Read: 41900000, Paired Rows: 2377591, Time: 2018-01-14 16:14:39.351602
Total Rows Read: 42000000, Paired Rows: 2383246, Time: 2018-01-14 16:14:45.311421
Total Rows Read: 42100000, Paired Rows: 2388498, Time: 2018-01-14 16:14:51.293046
Total Rows Read: 42200000, Paired Rows: 2393299, Time: 2018-01-14 16:14:57.204396
Total Rows Read: 42300000, Paired Rows: 2398375, Time: 2018-01-14 16:15:03.139399
Total Rows Read: 42400000, Paired Rows: 2404058, Time: 2018-01-14 16:15:09.135634
Total Rows Read: 42500000, Paired Rows: 2409888, Time: 2018-01-14 16:15:15.166658
Total Rows Read: 42600000, Paired Rows: 2416036, Time: 2018-01-14 16:15:21.197573
Total Rows Read: 42700000, Paired Rows: 2421920, Time: 2018-01-14 16:15:27.220632
Total Rows Read: 42800000, Paired Rows: 2427878, Time: 2018-01-14 16:15:33.190018
Total Rows Read: 42900000, Paired Rows: 2433977, Time: 2018-01-14 16:15:39.186971
Total Rows Read: 43000000, Paired Rows: 2439641, Time: 2018-01-14 16:15:45.154649
Total Rows Read: 43100000, Paired Rows: 2445426, Time: 2018-01-14 16:15:51.113312
Total Rows Read: 43200000, Paired Rows: 2450976, Time: 2018-01-14 16:15:57.041488
Total Rows Read: 43300000, Paired Rows: 2456241, Time: 2018-01-14 16:16:02.827924
Total Rows Read: 43400000, Paired Rows: 2461343, Time: 2018-01-14 16:16:08.663437
Total Rows Read: 43500000, Paired Rows: 2466582, Time: 2018-01-14 16:16:14.544699
Total Rows Read: 43600000, Paired Rows: 2472479, Time: 2018-01-14 16:16:20.518881
Total Rows Read: 43700000, Paired Rows: 2478161, Time: 2018-01-14 16:16:26.472517
Total Rows Read: 43800000, Paired Rows: 2483108, Time: 2018-01-14 16:16:32.386767
Total Rows Read: 43900000, Paired Rows: 2488228, Time: 2018-01-14 16:16:38.318010
Total Rows Read: 44000000, Paired Rows: 2494031, Time: 2018-01-14 16:16:44.336519
Total Rows Read: 44100000, Paired Rows: 2499974, Time: 2018-01-14 16:16:50.380095
Total Rows Read: 44200000, Paired Rows: 2505974, Time: 2018-01-14 16:16:56.377885
Total Rows Read: 44300000, Paired Rows: 2512150, Time: 2018-01-14 16:17:02.381204
Total Rows Read: 44400000, Paired Rows: 2518457, Time: 2018-01-14 16:17:08.476086
Total Rows Read: 44500000, Paired Rows: 2524847, Time: 2018-01-14 16:17:14.539908
Total Rows Read: 44600000, Paired Rows: 2531089, Time: 2018-01-14 16:17:20.649461
Total Rows Read: 44700000, Paired Rows: 2537382, Time: 2018-01-14 16:17:26.618851
Total Rows Read: 44800000, Paired Rows: 2543484, Time: 2018-01-14 16:17:32.606731
Total Rows Read: 44900000, Paired Rows: 2549391, Time: 2018-01-14 16:17:38.553502
Total Rows Read: 45000000, Paired Rows: 2555168, Time: 2018-01-14 16:17:44.522254
Total Rows Read: 45100000, Paired Rows: 2560924, Time: 2018-01-14 16:17:50.429159
Total Rows Read: 45200000, Paired Rows: 2566843, Time: 2018-01-14 16:17:56.322855
Total Rows Read: 45300000, Paired Rows: 2572476, Time: 2018-01-14 16:18:02.288352
Total Rows Read: 45400000, Paired Rows: 2578334, Time: 2018-01-14 16:18:08.233551
Total Rows Read: 45500000, Paired Rows: 2583563, Time: 2018-01-14 16:18:14.183938
Total Rows Read: 45600000, Paired Rows: 2588529, Time: 2018-01-14 16:18:20.119218
Total Rows Read: 45700000, Paired Rows: 2593540, Time: 2018-01-14 16:18:26.072135
Total Rows Read: 45800000, Paired Rows: 2598954, Time: 2018-01-14 16:18:32.811400
Total Rows Read: 45900000, Paired Rows: 2604888, Time: 2018-01-14 16:18:39.416116
Total Rows Read: 46000000, Paired Rows: 2610859, Time: 2018-01-14 16:18:45.492062
Total Rows Read: 46100000, Paired Rows: 2616917, Time: 2018-01-14 16:18:51.545893
Total Rows Read: 46200000, Paired Rows: 2623126, Time: 2018-01-14 16:18:57.634053
Total Rows Read: 46300000, Paired Rows: 2629200, Time: 2018-01-14 16:19:03.641016
Total Rows Read: 46400000, Paired Rows: 2635412, Time: 2018-01-14 16:19:09.663646
Total Rows Read: 46500000, Paired Rows: 2641639, Time: 2018-01-14 16:19:15.682710
Total Rows Read: 46600000, Paired Rows: 2647410, Time: 2018-01-14 16:19:21.632500
Total Rows Read: 46700000, Paired Rows: 2653252, Time: 2018-01-14 16:19:27.629463
Total Rows Read: 46800000, Paired Rows: 2658980, Time: 2018-01-14 16:19:33.560839
Total Rows Read: 46900000, Paired Rows: 2664729, Time: 2018-01-14 16:19:39.545147
Total Rows Read: 47000000, Paired Rows: 2670623, Time: 2018-01-14 16:19:45.501148
Total Rows Read: 47100000, Paired Rows: 2676760, Time: 2018-01-14 16:19:51.495855
Total Rows Read: 47200000, Paired Rows: 2682543, Time: 2018-01-14 16:19:57.456930
Total Rows Read: 47300000, Paired Rows: 2688229, Time: 2018-01-14 16:20:03.378153
Total Rows Read: 47400000, Paired Rows: 2693578, Time: 2018-01-14 16:20:09.239148
Total Rows Read: 47500000, Paired Rows: 2698498, Time: 2018-01-14 16:20:15.186548
Total Rows Read: 47600000, Paired Rows: 2703544, Time: 2018-01-14 16:20:21.117799
Total Rows Read: 47700000, Paired Rows: 2709048, Time: 2018-01-14 16:20:27.102336
Total Rows Read: 47800000, Paired Rows: 2714905, Time: 2018-01-14 16:20:33.124812
Total Rows Read: 47900000, Paired Rows: 2720852, Time: 2018-01-14 16:20:39.153850
Total Rows Read: 48000000, Paired Rows: 2726778, Time: 2018-01-14 16:20:45.190725
Total Rows Read: 48100000, Paired Rows: 2732700, Time: 2018-01-14 16:20:51.255213
Total Rows Read: 48200000, Paired Rows: 2738554, Time: 2018-01-14 16:20:57.235231
Total Rows Read: 48300000, Paired Rows: 2744675, Time: 2018-01-14 16:21:03.209482
Total Rows Read: 48400000, Paired Rows: 2750613, Time: 2018-01-14 16:21:09.217281
Total Rows Read: 48500000, Paired Rows: 2756663, Time: 2018-01-14 16:21:15.223462
Total Rows Read: 48600000, Paired Rows: 2762785, Time: 2018-01-14 16:21:21.202825
Total Rows Read: 48700000, Paired Rows: 2768729, Time: 2018-01-14 16:21:27.205478
Total Rows Read: 48800000, Paired Rows: 2774542, Time: 2018-01-14 16:21:33.140471
Total Rows Read: 48900000, Paired Rows: 2780251, Time: 2018-01-14 16:21:39.268768
Total Rows Read: 49000000, Paired Rows: 2786085, Time: 2018-01-14 16:21:45.276086
Total Rows Read: 49100000, Paired Rows: 2791903, Time: 2018-01-14 16:21:51.258614
Total Rows Read: 49200000, Paired Rows: 2797624, Time: 2018-01-14 16:21:57.182350
Total Rows Read: 49300000, Paired Rows: 2802971, Time: 2018-01-14 16:22:03.101122
Total Rows Read: 49400000, Paired Rows: 2807786, Time: 2018-01-14 16:22:09.017560
Total Rows Read: 49500000, Paired Rows: 2812915, Time: 2018-01-14 16:22:14.946330
Total Rows Read: 49600000, Paired Rows: 2818668, Time: 2018-01-14 16:22:20.907711
Total Rows Read: 49700000, Paired Rows: 2824433, Time: 2018-01-14 16:22:26.963588
Total Rows Read: 49800000, Paired Rows: 2830606, Time: 2018-01-14 16:22:32.988684
Total Rows Read: 49900000, Paired Rows: 2836978, Time: 2018-01-14 16:22:39.139211
Total Rows Read: 50000000, Paired Rows: 2843194, Time: 2018-01-14 16:22:45.194436
Total Rows Read: 50100000, Paired Rows: 2849395, Time: 2018-01-14 16:22:51.446236
Total Rows Read: 50200000, Paired Rows: 2855500, Time: 2018-01-14 16:22:57.598452
Total Rows Read: 50300000, Paired Rows: 2861757, Time: 2018-01-14 16:23:03.684322
Total Rows Read: 50400000, Paired Rows: 2867890, Time: 2018-01-14 16:23:09.872765

Total Rows Read: 50500000, Paired Rows: 2873955, Time: 2018-01-14 16:23:15.889750
Total Rows Read: 50600000, Paired Rows: 2879840, Time: 2018-01-14 16:23:21.900253
Total Rows Read: 50700000, Paired Rows: 2885631, Time: 2018-01-14 16:23:28.075629
Total Rows Read: 50800000, Paired Rows: 2891545, Time: 2018-01-14 16:23:34.076631
Total Rows Read: 50900000, Paired Rows: 2897601, Time: 2018-01-14 16:23:40.058823
Total Rows Read: 51000000, Paired Rows: 2903345, Time: 2018-01-14 16:23:46.186232
Total Rows Read: 51100000, Paired Rows: 2908718, Time: 2018-01-14 16:23:52.100947
Total Rows Read: 51200000, Paired Rows: 2913561, Time: 2018-01-14 16:23:58.182087
Total Rows Read: 51300000, Paired Rows: 2918723, Time: 2018-01-14 16:24:04.111518
Total Rows Read: 51400000, Paired Rows: 2924328, Time: 2018-01-14 16:24:10.055669
Total Rows Read: 51500000, Paired Rows: 2930094, Time: 2018-01-14 16:24:16.240441
Total Rows Read: 51600000, Paired Rows: 2936110, Time: 2018-01-14 16:24:22.286972
Total Rows Read: 51700000, Paired Rows: 2942221, Time: 2018-01-14 16:24:28.335696
Total Rows Read: 51800000, Paired Rows: 2948457, Time: 2018-01-14 16:24:34.645579
Total Rows Read: 51900000, Paired Rows: 2954627, Time: 2018-01-14 16:24:40.694744
Total Rows Read: 52000000, Paired Rows: 2960909, Time: 2018-01-14 16:24:46.654616
Total Rows Read: 52100000, Paired Rows: 2966849, Time: 2018-01-14 16:24:52.847247
Total Rows Read: 52200000, Paired Rows: 2972846, Time: 2018-01-14 16:24:58.839539
Total Rows Read: 52300000, Paired Rows: 2978910, Time: 2018-01-14 16:25:04.880858
Total Rows Read: 52400000, Paired Rows: 2984761, Time: 2018-01-14 16:25:10.812039
Total Rows Read: 52500000, Paired Rows: 2990327, Time: 2018-01-14 16:25:16.729606
Total Rows Read: 52600000, Paired Rows: 2996060, Time: 2018-01-14 16:25:22.774896
Total Rows Read: 52700000, Paired Rows: 3001720, Time: 2018-01-14 16:25:28.631757
Total Rows Read: 52800000, Paired Rows: 3007197, Time: 2018-01-14 16:25:34.495327
Total Rows Read: 52900000, Paired Rows: 3012355, Time: 2018-01-14 16:25:40.520014
Total Rows Read: 53000000, Paired Rows: 3016934, Time: 2018-01-14 16:25:46.346107
Total Rows Read: 53100000, Paired Rows: 3022064, Time: 2018-01-14 16:25:52.274899
Total Rows Read: 53200000, Paired Rows: 3027500, Time: 2018-01-14 16:25:58.319843
Total Rows Read: 53300000, Paired Rows: 3033129, Time: 2018-01-14 16:26:04.289486
Total Rows Read: 53400000, Paired Rows: 3038954, Time: 2018-01-14 16:26:10.253228
Total Rows Read: 53500000, Paired Rows: 3044877, Time: 2018-01-14 16:26:17.478273
Total Rows Read: 53600000, Paired Rows: 3050738, Time: 2018-01-14 16:26:23.389327
Total Rows Read: 53700000, Paired Rows: 3056773, Time: 2018-01-14 16:26:29.302009
Total Rows Read: 53800000, Paired Rows: 3062450, Time: 2018-01-14 16:26:35.431352

In [28]:
# here we prepare data for nmt-chatbot
# https://github.com/daniel-kukiela/nmt-chatbot example of how should data look so they can be run with nmtchat
import pandas as pd

# helper function to create files that will be used in training and testing
def write_to_file(fname):
    with open(fname, 'a', encoding='utf8') as f:
        for comment in df[fname.split('_')[0]].values:
            f.write(comment+'\n')
    
# we connect to our local database
db = sqlite3.connect('2015-01.db')
#c = conn.cursor()
batch_size = 10000
last_unix = 0
curr_length = batch_size
i = 0
test_finished = False

while curr_length == batch_size:

    df = pd.read_sql("SELECT * FROM parent_reply WHERE unix > {} and parent NOT NULL and score > 0 ORDER BY unix ASC LIMIT {}".format(last_unix, batch_size), db)
    last_unix = df.tail(1)['unix'].values[0]
    curr_length = len(df)

    # we create test and training sets
    if not test_finished:
        write_to_file('parent_test')
        write_to_file('comment_test')
        test_finished = True
    else:
        write_to_file('parent_train')
        write_to_file('comment_train')
        
        
    if i % 10 == 10:
        print(i * batch_size + curr_length, 'rows completed so far')
    i += 1
        
print('FINISHED')

200000 rows completed so far
400000 rows completed so far
600000 rows completed so far
800000 rows completed so far
1000000 rows completed so far
1200000 rows completed so far
1400000 rows completed so far
1600000 rows completed so far
1800000 rows completed so far
2000000 rows completed so far
2200000 rows completed so far
2400000 rows completed so far
2600000 rows completed so far
2800000 rows completed so far
3000000 rows completed so far

In [26]:
# only checking whether I provided a correct path
# source: https://stackoverflow.com/questions/6046038/open-file-on-separate-drive-in-python

import os
import sys

path = '/media/doriot/Elements/RC_2015-01'
basepath, fname = os.path.split(path)
print("directory:", basepath)

if os.path.exists(basepath):
    print("directory exists")
else:
    print("directory does not exist!")
    sys.exit()

if not fname:
    print("no filename provided!")
    sys.exit()
    
print("filename:", fname)
if os.path.exists(path):
    print("filename exists")
else:
    print("filename not found!")
    print("directory contents:")
    for fn in os.listdir(basepath):
        print(fn)

directory: /media/doriot/Elements
directory does not exist!

SystemExit:

/home/doriot/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2870: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)